fos_elastica:
    clients:
        default: { url: '%env(ELASTICSEARCH_URL)%' }
    indexes:
        page:
            index_name: '%env(ELASTICSEARCH_INDEX)%page'
            client: default
            settings:
                index:
                    analysis:
                        analyzer:
                            my_search_analyzer:
                                type: custom
                                tokenizer: standard
                                filter: [standard, lowercase, deu_snowball]
                            deu_snowball:
                                type: snowball
                                language: German2
                        filter:
                            deu_snowball:
                                type: snowball
                                language: German2
            properties:
                name: {type: 'string',analyzer: my_search_analyzer}
                metaTitle:  {type: 'string', store: false}
                locale: { type: 'string', store: false}
                content: {type: 'string', analyzer: my_search_analyzer}
                url: {type: 'string',"index" : "no"}
            persistence:
                identifier: resourceId
                model: Networking\InitCmsBundle\Entity\PageSnapshot
                model_to_elastica_transformer:
                    service: 'Networking\ElasticSearchBundle\Transformer\PageSnapshotToElasticaTransformer'
        media:
            index_name: '%env(ELASTICSEARCH_INDEX)%media'
            client: default
            settings:
                index:
                    analysis:
                        analyzer:
                            my_search_analyzer:
                                type: custom
                                tokenizer: standard
                                filter: [standard, lowercase, deu_snowball]
                            deu_snowball:
                                type: snowball
                                language: German2
                        filter:
                            deu_snowball:
                                type: snowball
                                language: German2
            properties:
                name: {type: 'string',analyzer: my_search_analyzer}
                metaTitle:  {type: 'string', store: false}
                locale: { type: 'string', store: false}
                content: {type: 'string', analyzer: my_search_analyzer}
                url: {type: 'string',"index" : "no"}
            persistence:
                driver: orm # orm, mongodb, propel are available
                model: Networking\InitCmsBundle\Entity\Media
                model_to_elastica_transformer:
                    service: 'Networking\ElasticSearchBundle\Transformer\MediaToElasticaTransformer'